@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}

.app {
  background: hsla(hsla(12, 84%, 68%, 1) 1%);
  background: linear-gradient(
    90deg,
    hsla(12, 84%, 68%, 1) 0%,
    hsla(343, 100%, 66%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    90deg,
    hsla(12, 84%, 68%, 1) 0%,
    hsla(343, 100%, 66%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    90deg,
    hsla(12, 84%, 68%, 1) 0%,
    hsla(343, 100%, 66%, 1) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2.8rem 3.2rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  max-width: 800px;
}

.app-title {
  margin-bottom: 1rem;
}

.app-title h1 {
  margin-bottom: 0.7rem;
  font-size: 2.5rem;
  text-align: center;
}

.app-title p {
  margin-bottom: 1.75rem;
}

.main-content {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.left-column,
.right-column {
  flex: 1; /* Bagi ukuran sama */
}

.left-column h2,
.right-column h2 {
  text-align: center;
  margin-bottom: 0;
}

.timer-display {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 4px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.input-container {
  margin-top: 20px;
}

#taskInput {
  padding: 10px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff5e6; /* Warna menarik */
  color: #333; /* Teks tetap terbaca */
}

#startStop {
  padding: 12px 25px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ff6f61;
  color: white;
  transition: all 0.3s ease;
  width: 100%;
}

.alert-box {
  display: none;
  color: #ff5f4f;
  text-align: center;
  margin-bottom: .8rem;
}

#startStop:hover {
  background-color: #ff5f4f;
}

#task-list-container {
  margin-top: 30px;
  color: #ddd;
}

#task-list {
  list-style-type: none;
  padding: 0;
}

#task-list li {
  background-color: #2c3e50;
  padding: 10px;
  border-radius: 0.1rem;
  font-size: 1rem;
  margin: 0.8rem 0;
}

#task-list li h4 {
  font-weight: 500;
  margin-bottom: 0.4rem;
}

#task-list li small {
  color: #e3e3e3;
}

.empty-history {
  color: #888;
  font-style: italic;
  text-align: center;
  margin: 2rem 0.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 2rem 1.5rem;
  }

  .timer-display {
    font-size: 2rem;
  }

  .main-content {
    flex-direction: column;
  }

  .app-title h1 {
    margin-bottom: 0.7rem;
    font-size: 1.6rem;
  }

  .left-column h2,
  .right-column h2 {
    font-size: 1.15rem;
  }
}
